body {
    margin: 0;
}

.gamebackground {
    width: 800px;
    height: 250px;
    border: 2px solid white; /* Cambiar el color */
    position: relative;
}

.track{
position: relative;
height: 50%;
display: flex;
flex-direction: column;
background-color: maroon;
margin: 10px;
}

.lane{
margin: 3px;
height: 15.5%;
position: relative;
}

.player {
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    left: 20px;
    bottom: 0px;
    
}