html,
body {
  height: 800px;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 50;
  color: black;
  background-color: #577ab7;
  transform: none;
  border: 5px solid goldenrod;
  border-radius: 12px;
}

.gamebackground {
  width: 1200px;
  height: 780px;
  position: relative;
  overflow: hidden;

  background-image: url("../Img/background_1389x487.png");
  background-repeat: no-repeat;

  background-size: contain;
  background-position: bottom;
  background-color: #577ab7;


}

.road {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 350px;
  overflow: hidden;
  width: 1200px;
  
}

.player {
  position: absolute;
  left: 120px;
  top: 0px;
  width: 60px;
  height: 80px;
}

.car {
  position: absolute;
  width: 120px;
  height: auto;
  top: 0px;
 
}